<footer class="footer">
    <div class="container">
        <span class="text-secondary">&copy; BN INDUSTRIES</span>
    </div>
</footer>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>

</html>
