<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://use.typekit.net/edi1ent.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="style/bootstrap.css">

<head>
    <title>Braden Nicholson</title>
</head>

<style>
    body{
        background-color: #FFF;
        font-family: "Roboto";
    }
    a.navbar-brand{
        font-family: futura-pt, sans-serif;
        font-weight: 500;
        font-style: normal;
    }
    a.nav-link{
        font-family: futura-pt, sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    .bg-primary{
        background-color: #172C3E !important;
    }
    .card{
        border-radius: 0px;
    }
    .text-secondary{
        font-family: futura-pt, sans-serif;
        font-weight: 500;
        font-style: normal;
        color:#172C3E !important;
    }
    .navbar{
        box-shadow: 0px 0px 4px 0px #333;
    }
    .welcome{
        font-family: futura-pt, sans-serif;
        font-weight: 500;
        font-style: normal;
        margin-left: 0.5in;
        margin-top:0.5in;
    }
    .welcomes{
        font-family: futura-pt, sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-left: 0.75in;
    }
    html {
        position: relative;
        min-height: 100%;
    }
    body {
        margin-bottom: 60px; /* Margin bottom by footer height */
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px; /* Set the fixed height of the footer here */
        line-height: 60px; /* Vertically center the text there */
        background-color: #f5f5f5;
    }


</style>
