<% include partials/header %>
<% include partials/nav %>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="welcome">Hello,</h1>
      <p class="welcomes">Welcome to my website. I seldom talk about my self, don't
        expect to find too much about me on here.</p>
      <p class="welcomes">On this website you will find my: photos, personal
        programming projects, r&eacute;sum&eacute;, and various online activities.</p>
      <h1 class="welcome" style="margin-left:0.5in;">Core Values</h1>
      <p class="welcomes" style="margin-left:0.75in;">Everybody is good at something,
        it just takes time and desire to find that something.</p>
      <p class="welcomes" style="margin-left:0.75in;">Progress is a double-edged
        sword.</p>
      <p class="welcomes" style="margin-left:0.75in;">Imagine if the U.S. spent its military budget
        on science.</p>
      <p class="welcomes" style="margin-left:0.75in;">It would be harder to colonize
        Mars than it would be to fix Earth.</p>

      <!-- Extrinsic -->

    </div>
    <div class="col-md-6">
      <h1 class="welcome" style="margin-left:0.5in;">My Activities</h1>
      <p class="text-secondary" style="margin-left:0.75in;">Photography</p>
      <p class="welcomes">I have had a camera in my hand for the majority of my life.
        I belive there is an images in everything, you just have to choose an angle
        and select the nicest light. View my photos <a href="photos.php">here</a>.</p>
      <p class="text-secondary" style="margin-left:0.75in;">Programming</p>
      <p class="welcomes">I got my first real computer when I was 9 years old. It
        didn't take long for me to discover that computers could do more than surf
        the web. See my projects <a href="programming.php">here</a>.</p>
      <p class="text-secondary" style="margin-left:0.75in;">Electrical Engineering</p>
      <p class="welcomes">There was not one electronic toy that I didn't take apart
        in my child hood. For years I took everything apart to see how it worked,
        at one point I started putting things back togeather in new ways. See my
        electronics projects <a href="electronics.php">here</a>.</p>

    </div>

  </div>
</div>
</body>
<% include partials/footer %>
